* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--cor-fonte);
}

:root {
  --cor-primaria: #1f2c73;
  --cor-secundaria: #39bd84;
  --cor-terciaria: #de0042;
  --cor-preta: #000;
  --cor-branca: #fcfcfc;
  --cor-fonte: #010440;
}

body {
  background: linear-gradient(90deg, #fcfcfc 0%, #e4f3f8 100%);
  padding: 0;
}

header {
  background: var(--cor-secundaria);
  margin: 0;
  padding: 3rem;
}

header img {
  display: block;
  width: 20%;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 0;
}

.nav a {
  color: var(--cor-branca);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
}

header .button {
  font-size: 1.2rem;
  margin: 0;
}

h1 {
  color: var(--cor-primaria);
  padding-bottom: 0.8em;
  margin-top: 1rem;
  font-size: 3rem;
}

h2 {
  color: var(--cor-primaria);
  margin: 6rem 0 3rem 0;
  text-align: center;
}

h4 {
  color: var(--cor-branca);
}

.apresentacao {
  padding: 4rem;
}

.historiaCss p {
  font-size: 1.25rem;
  margin-top: 1rem;
  line-height: 150%;
}

.apresentacaoImagem {
  width: 30%;
}

.apresentacaoLinhaDoTempo {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
}

.apresentacaoLinhaDoTempo::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: lightgray;
}

.apresentacaoLinhaDoTempo ul {
  margin: 0;
  padding: 0;
}

.apresentacaoLinhaDoTempo ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.apresentacaoLinhaDoTempo ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.apresentacaoLinhaDoTempo ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.conteudo {
  padding-bottom: 20px;
}

.apresentacaoLinhaDoTempo ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: var(--cor-terciaria);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 1);
}

.apresentacaoLinhaDoTempo ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: var(--cor-terciaria);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 1);
}

.apresentacaoLinhaDoTempo ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 600;
  color: var(--cor-terciaria);
}

.apresentacaoLinhaDoTempo ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.apresentacaoLinhaDoTempo ul li .tempo {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.apresentacaoLinhaDoTempo ul li:nth-child(odd) .tempo {
  position: absolute;
  top: 12px;
  right: -110px;
  margin: 0;
  padding: 8px 16px;
  background: var(--cor-terciaria);
  border-radius: 18px;
}

.apresentacaoLinhaDoTempo ul li:nth-child(even) .tempo {
  position: absolute;
  top: 12px;
  left: -110px;
  margin: 0;
  padding: 8px 16px;
  background: var(--cor-terciaria);
  border-radius: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin-top: 10%;
  color: var(--cor-branca);
  background-color: var(--cor-secundaria);
  font-size: 1.2rem;
  font-weight: 400;
}

footer img {
  width: 10%;
}

footer ul {
  list-style: none;
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

footer ul li a {
  text-decoration: none;
  padding: 1rem 0 0 1rem;
}

.noticias-form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.noticias-form input {
  border: 2px solid var(--cor-preta);
  box-shadow: 4px 4px 0 var(--cor-preta);
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

.button {
  background-color: var(--cor-terciaria);
  border: 2px solid var(--cor-preta);
  box-shadow: 4px 4px 0 var(--cor-preta);
  color: var(--cor-branca);
  display: block;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  max-width: 14rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
